<div ng-controller="CredentialController">
    <div ng-repeat="resource in requireArray(resource['$name$'])">
      <!-- Always show button, show image for drag-and-drop only when 'debug' is "True" -->
      <!-- <a class="btn btn-primary btn-sm" ng-href="{{getCredentialVerifyRequestURL(resource)}}">
         <span>{{resource._view_.hasOwnProperty('buttonText') ? resource._view_.buttonText : "Upload credential"}}</span>
      </a><br/>

      <div ng-if="resource._view_.debug == 'True'" class="container-fluid" ng-controller="SSIFormBoxController" ng-init="initUploader2(resource)">
         <div nv-file-drop nv-file-over uploader="uploader">
            <img ng-src="{{getQRCodeImageSrc(128, 128, resource)}}" alt="Link for uploading attestion" uib-tooltip="Drag-and-drop json file for debugging"
               tooltip-placement="top" tooltip-trigger="mouseenter" />
         </div>
      </div> -->

      <!-- Always allow for drag-and-drop -->
      <div class="container-fluid" ng-controller="SSIFormBoxController" ng-init="initUploader2(resource)" style="padding-left:0px;padding-right:0px;">
         <div nv-file-drop nv-file-over uploader="uploader">
            <a class="btn btn-primary btn-sm" ng-href="{{getCredentialVerifyRequestURL(resource)}}">
               <span>{{resource._view_.hasOwnProperty('buttonText') ? resource._view_.buttonText : "Upload credential"}}</span>
            </a><br/>
         </div>
      </div>
    </div>
</div>