<!--
oneMessage :: ONE * IfcText [UNI] REPRESENT IfcText ALPHANUMERIC
VIEW InterfaceMetaData: InterfaceMetaData
{ "ifcLogofile": ifcLogofile
, "ifcTitle": ifcTitle
, "ifcMessage": V;oneMessage
} HTML TEMPLATE "View-InterfaceMetaData" ENDVIEW
-->
<div ng-repeat="resource in $if(exprIsUni)$(resource['$name$'] === null ? [] : [resource['$name$']])$else$resource['$name$']$endif$">
	<div ng-if="!resource._view_.ifcMessage">
		<table style="width:100%; border-collapse:collapse; text-align:left; vertical-align:baseline;">
			<tr>
			<td><img style="height: 6em;" ng-src="app/images/{{resource._view_.ifcLogofile}}" alt="'app/images/{{resource._view_.ifcLogofile}}'"/></th>
			<td><h2>{{resource._view_.ifcTitle}}</h2></th> 
         <td><h2>&nbsp;</h2></th> 
         </tr>
		</table>
	</div>
	<div ng-if="resource._view_.ifcMessage">
		<table style="width:100%; border-collapse:collapse; text-align:left; vertical-align:baseline;">
			<tr>
			<td><img style="height: 6em;" ng-src="app/images/{{resource._view_.ifcLogofile}}" alt="'app/images/{{resource._view_.ifcLogofile}}'"/></th>
			<td><h2>{{resource._view_.ifcTitle}}</h2></th> 
			<td style="color:#ff0000c0; font-weight:bold;"><h4>{{resource._view_.ifcMessage}}</h4></th>
			</tr>
		</table>
	</div>
</div>
